@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* -----> Colors */
  --color-black: #3c3c3c;
  --color-black-shadow: rgba(0, 0, 0, 0.45);
  --color-grey: #787878;
  --color-white: rgb(246, 246, 246);
  --color-orange: #ff8000;
  --color-blue-light: #cad8e6;

  /* Gradient */
  --color-blue-gradient: linear-gradient(180deg, #0b4052 0%, #f0e0d6 100%);
  --color-green-gradient: linear-gradient(334deg, #c8c3c3, #40ab16);
  --color-yellow-gradient: linear-gradient(334deg, #c8c3c3, #b89233, #ab9c16);
  --color-red-gradient: linear-gradient(334deg, #c8c3c3, #93405d, #812433);

  /* -----> Spacing */
  --space-0: 0;
  --space-1: 1px;
  --space-5: 5px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-30: 30px;
  --space-48: 48px;
  --space-50: 50px;
  --space-100: 100px;
  --space-200: 200px;

  /* -----> Fonts */

  /* Font-Family */
  --font-family: "Inter";

  /* Font-size */
  --font-12: var(--space-12);
  --font-14: var(--space-14);
  --font-16: var(--space-16);
  --font-18: var(--space-18);
  --font-20: var(--space-20);
  --font-24: var(--space-24);
  --font-30: var(--space-30);
  --font-48: var(--space-48);

  /* Font-weight */
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* -----> Buttons */
  /* Main */
  --button-color-main: var(--color-yellow);
  --button-color-main-hover: var(--color-yellow-hover);
  --button-color-main-active: var(--color-yellow-active);
  --button-color-main-disabled: var(--color-yellow-disabled);

  /* Hover */
  --button-color-secondary: var(--color-pink);
  --button-color-secondary-hover: var(--color-pink-hover);
  --button-color-secondary-active: var(--color-pink-active);
  --button-color-secondary-disabled: var(--color-pink-disabled);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--color-blue-gradient);
}

body {
  margin: var(--space-0);
  font-family: var(--font-family);
  padding-top: calc(var(--space-200) + 1px);
  color: var(--color-black);
  font-family: var(--font-family);
}

img {
  width: 100%;
}

/* -----> Personalized clases */

/* Header */
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: var(--space-10);
}

.search-bar {
  height: var(--space-48);
  border-radius: var(--space-24);
  margin-bottom: var(--space-12);
}

.event-card {
  background-color: var(--color-white);
  border-radius: var(--space-5);
  padding: var(--space-10);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.45);
  z-index: 10;
  position: relative; /* Importante para que el box-shadow se muestre */
  overflow: visible; /* Asegura que la sombra se vea en el sub-section */
}

.event-card--sub-section {
  background-color: rgb(246, 246, 246);
  padding: var(--space-16);
  border-radius: 0 0px 5px 5px;
  /*z-index: -1; Se coloca detrás */
  position: relative; /* Mantiene el flujo del documento */
  margin-top: -6px; /* Lo sube para que quede justo detrás del event-card */
}

.sub-section--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-18);
  font-weight: var(--font-bold);
}

.sub-section--header__button {
  border: none;
  background-color: transparent;
  color: var(--color-black);
  font-size: var(--font-24);
  font-weight: var(--font-bold);
  display: flex;
  align-items: center;
}

.sub-section--header__button-save {
  border: var(--space-1) var(--color-orange) solid;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: var(--space-5) var(--space-10);
  transition: all ease-in 0.15s;
  border-radius: var(--space-5);
}

.sub-section--header__button-save:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}

.call-card {
  background-color: white;
  padding: var(--space-10);
  border-width: var(--space-1);
  border-style: solid;
  border-color: var(--color-grey);
  border-radius: 10px;
}

.call-card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-12);
  font-weight: var(--font-bold);
}

.call--header__data-container {
  display: flex;
  align-items: center;
  gap: var(--space-10);
}

.call-card--button__img {
  width: var(--space-20);
}

/* .call-cards--container {
  display: flex;
  max-width: 600px;
  overflow: auto;
  white-space: nowrap;
} */

.title-container--text__orange {
  font-weight: var(--font-regular);
  color: var(--color-orange);
  margin: var(--space-0);
}

.title-container--text__grey {
  font-weight: var(--font-regular);
  color: var(--color-grey);
  margin: var(--space-0);
}

.data-box {
  margin-bottom: var(--space-5);
}

.data-box--title {
  font-weight: var(--font-regular);
  color: var(--color-grey);
  margin: var(--space-0);
  font-size: var(--font-14);
}

.step-checkbox {
  margin: var(--space-0);
  padding: var(--space-0);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--space-20);
  height: var(--space-16);
  border-width: var(--space-1);
  border-color: var(--color-grey);
  border-style: solid;
}

.step-checkbox--default {
  background-color: var(--color-blue-light);
}

.step-checkbox--edit {
  background-color: var(--color-orange);
}

.main--call-rating {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--space-20);
  background-color: var(--color-blue-light);
  border-radius: var(--space-12);
}

.call-rating--title {
  font-weight: var(--font-light);
  margin: var(--space-0);
}

.call-rating--number {
  font-size: var(--font-48);
  font-weight: bold;
  color: var(--color-grey);
  margin: var(--space-0);
}

.call-card--select {
  padding: var(--space-10);
  background-color: rgb(241, 241, 241);
  border-radius: var(--space-10);
  position: absolute;
  top: var(--space-0);
  right: var(--space-0);
  min-width: calc(var(--space-200)+ var(--space-10));
  transition: all ease-in 0.2s;
}

.call-card--select__active {
  display: block;
}

.call-card--select__button:hover {
  cursor: pointer;
  color: var(--color-orange);
  background-color: var(--color-white);
}

.event-card--text__title {
  margin: 6px 0;
}

.event-card--text__p {
  margin: 2px 0;
}

.rating-container {
  padding: 20px 10px;
  color: white;
  font-size: var(--font-48);
  font-weight: var(--font-bold);
  border-radius: 10px;
  text-align: center;
  min-width: var(--space-100);
}

/* Personalized buttons */
.filter-button {
  padding: var(--space-5);
}

.fav-button {
  position: absolute;
  top: var(--space-12);
  right: var(--space-12);
  color: white;
  font-size: var(--font-30);
  background-color: transparent;
  border: none;
}

.fav-button:hover {
  color: grey;
}

.button-container--button {
  background-color: transparent;
  border: 1px solid transparent;
  padding-top: var(--space-5);
}

.button-container--button:hover img {
  opacity: 80%;
}

.button-container--button__selected img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(2%) saturate(6%)
    hue-rotate(314deg) brightness(97%) contrast(91%);
}

.finish-edit--button {
  background-color: #ff8000;
  border-radius: 4px;
  border: 1px solid #ff8000;
  padding: 4px 8px;
  color: white;
  transition: all ease 0.15s;
}

.finish-edit--button:hover {
  background-color: white;
  color: #ff8000;
}

.edit--button {
  background-color: #ff8000;
  border-radius: 4px;
  border: 1px solid #ff8000;
  padding: 4px 8px;
  color: white;
  transition: all ease 0.15s;
}

.edit--button:hover {
  background-color: white;
  color: #ff8000;
}

.start-call-button {
  color: #ff8000;
}

.start-call-button:hover {
  text-decoration: underline #ff8000;
}

/* Width */
.max-width {
  max-width: 100%;
}

/* Position */
.position-relative {
  position: relative;
}

/* Display-Flex */
.display--flex {
  display: flex;
}

.display-inline-block {
  display: inline-block;
}

.align-itmes__center {
  align-items: center;
}

.align-items__flex-start {
  align-items: flex-start;
}

.align-items__flex-end {
  align-items: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-right {
  justify-content: flex-end;
}

.space--between {
  justify-content: space-between;
}

.space--around {
  justify-content: space-around;
}

/* Grid Display */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: flex-start;
}

.grid-cell {
  flex: 0 0 100%;
}

.grid-row {
  display: flex;
  gap: 5px;
}

.item__100 {
  flex: 0 0 1;
}

.item__50 {
  flex: 0 0 50%;
}

.item__33 {
  flex: 0 0 33.333%;
}

.item__25 {
  flex: 0 0 25%;
}

.item__20 {
  flex: 0 0 20%;
}

.item__auto {
  flex: 0, 0, auto;
}

.gap--5 {
  gap: 5px;
}

.scroll-grid {
  display: grid;
  grid-auto-columns: 40%;
  grid-auto-flow: column;
  grid-gap: 24px;
  overflow-x: auto;
}

.header-fixed .scroll-grid::-webkit-scrollbar {
  display: none;
}

/* Colors */
.color-orange {
  color: #ff8000;
}

.bg-color--blue {
  background-color: #617383;
}

/* Padding */
.padding__6 {
  padding: 6px;
}

.padding--lateral__24 {
  padding: 0 24px;
}

/* Margin */
.margin--bt__24 {
  margin-bottom: 24px;
}

.margin--bt__5 {
  margin-bottom: 5px;
}

.margin--left__24 {
  margin-left: 24px;
}

.margin--left__6 {
  margin-left: 6px;
}
.width__100 {
  width: 100%;
}

.margin--left__12 {
  margin-left: 12px;
}

.margin_6 {
  margin: 6px;
}

.margin_12 {
  margin: 12px;
}

.margin-none {
  margin: 0;
}

/* Font-size */
.font-size__12 {
  font-size: 12px;
}

/* Border-radius */
.border-radius__12 {
  border-radius: 12px;
}

/* Text-align-center */
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

/* width */

.width__100 {
  width: 100%;
}

@media screen and (width < 800px) {
  .scroll-grid {
    grid-auto-columns: 100%;
  }
}

/* Container Colors Animation */

.gradient-green {
  background: linear-gradient(334deg, #c8c3c3, #40ab16);
  background-size: 270% 100%;
  animation: gradient-green 4s ease infinite;
}

.gradient-yellow {
  background: linear-gradient(334deg, #c8c3c3, #b89233, #ab9c16);
  background-size: 270% 100%;
  animation: gradient-yellow 4s ease infinite;
  animation-delay: 3s;
}

.gradient-red {
  background: linear-gradient(334deg, #c8c3c3, #93405d, #812433);
  background-size: 270% 100%;
  animation: gradient-red 4s ease infinite;
  animation-delay: 5s;
}

@keyframes gradient-green {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-yellow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-red {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
